project1/initial-utilities/wcat/tests-out/
project1/initial-utilities/wcat/wcat
project1/initial-utilities/wgrep/tests-out/
project1/initial-utilities/wgrep/wgrep
project1/initial-utilities/wzip/tests-out/
project1/initial-utilities/wzip/wzip
project1/initial-utilities/wunzip/tests-out/
project1/initial-utilities/wunzip/wunzip